/* Added Google Font Merriweather to all three html files */
* {
  font-family: "Merriweather", serif;
}

body {
  background-color: gray;
}

.card-tittle {
  font-size: 30px;
  font-weight: bold;
}
#firstRow {
  margin: 10vh;
}

#aboutImage {
  width: 100%;
  height: auto;
}

#myCard {
  width: 50%;
  margin-left: 25%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background-color: cornflowerblue;
  color: black;
}

.card {
  background-color: cornflowerblue;
  color: black;
}

#form {
  background-color: cornflowerblue;
}
